<!-- <h1>Greska</h1> -->
<div class="container">
    <div class="row">
        <div class="col-xs-8 offset-2">
            <h3>Prijava nije uspela!!!</h3>
            <h4>Molimo Vas da pokušate ponovo, registrujete se ili vratite na početnu stranicu.</h4>
            <!-- <a href="#" class="btn btn-primary">Prijava</a> -->
            <!-- <a href="#" class="btn btn-primary">Registracija</a> -->
            <!-- <a href="#" class="btn btn-primary">Početak</a> -->
            <button class="btn btn-primary" ng-click="login()">Prijava</button>
            <button class="btn btn-primary" ng-click="register()">Registracija</button>
            <button class="btn btn-primary" ng-click="home()">Početak</button>
        </div>
    </div>
</div>