<h1>Registracija</h1>

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-4 col-lg-3 article-clear">
            <input type="text" placeholder="ime" class="form-control" ng-model="ime"><br>
            <input type="text" placeholder="prezime" class="form-control" ng-model="prezime"><br>
            <input type="text" placeholder="email" class="form-control" ng-model="email"><br>
            <input type="text" placeholder="sifra" class="form-control" ng-model="sifra"><br>
            <input type="text" placeholder="adresa" class="form-control" ng-model="adresa"><br>
            <input type="text" placeholder="postanski broj" class="form-control" ng-model="postBroj"><br>
            <input type="text" placeholder="grad" class="form-control" ng-model="grad"><br>
            <input type="text" placeholder="telefon" class="form-control" ng-model="telefon"><br>
            <button type="submit" class="form-control btn btn-success" ng-click="save()">Save</button>
        </div>
    </div>
</div>